<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Войти</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Почта</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Заполните поле</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Заполните поле</div>
          </div>
        </div>
        <h5>Вы ещё не зарегистрированы?<a href="/register" style="color:#66c;"> Зарегистрироваться</a></h5>
        <button mat-raised-button color="primary" style="opacity:0.8">Войти</button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
