<div class="container">
  <div *ngIf="links && links.length != 0">
    <h1 align="center" style="margin-top: 20px;">Полезные материалы</h1>
    <table mat-table [dataSource]="links">
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>Cсылка на материал</th>
        <td mat-cell *matCellDef="let link">
          <a *ngIf="link.type == 'LINK'" href="{{ link.content }}" target="_BLANK">{{ link.name }}</a>
          <a *ngIf="link.type == 'FILE'" href="http://172.16.0.221:8070/api/v1/tasks/file/{{ link.id }}" target="_BLANK">{{ link.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Тип материала</th>
        <td mat-cell *matCellDef="let link">
          <div *ngIf="link.type == 'FILE'">Файл</div>
          <div *ngIf="link.type == 'LINK'">Ссылка</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let link">
          <button
          type="submit"
          mat-stroked-button
          color="primary"
          style="opacity: 0.8"
          class="ml-3"
          (click)="deleteLink(link)">
          удалить
        </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <create-link></create-link>
</div>
