<div class="container" style="margin-top: 20px; padding-bottom: 20px;">
  <div>
    <h1>Изменить задание курса</h1>
    <form *ngIf="taskType != 'VIDEO'" [formGroup]="editTasksForm">
      <div class="form-group" style="display: flex; flex-direction: column;">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>название</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error *ngIf="
            getEditTasksForm.name.errors &&
            getEditTasksForm.name.errors.required
            ">
            заполните поле
          </mat-error>
        </mat-form-field>
        
        <div class="form-group">
          <rich-text [control]="contentEdit"></rich-text>
        </div>

        <button type="submit" mat-stroked-button color="primary" style="opacity: 0.8" (click)="editTask()">
          изменить
        </button>
        <button type="submit" mat-stroked-button color="primary" style="opacity: 0.8; margin-top: 10px;" (click)="cancel()">
          отменить
        </button>
      </div>
    </form>



    <form *ngIf="taskType == 'VIDEO'" [formGroup]="videoForm" (ngSubmit)="editTaskVideo()" style="display: flex;">

      <div class="form-group">
        <label for="name">Название задачи</label>
        <input formControlName="name" id="name" type="text" class="form-control" style="height: 43px;">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
          <div *ngIf="f.name.errors.required">Заполните поле</div>
        </div>
      </div>

      <div class="form-group" style="margin-left: 10px;">
        <label for="file">Видео Файл(*.mp4)</label>
        <input formControlName="file" id="file" type="file" class="form-control" accept="video/mp4"
          (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors.required">Видео Файл</div>
        </div>
      </div>
      <button type="submit" mat-stroked-button color="primary"
        style="opacity: 0.8; margin-top: 10px; margin-bottom: 34px; margin-top: 28px; height: 43px;"
        class="ml-3">изменить</button>
      <button type="submit" mat-stroked-button color="primary"
        style="opacity: 0.8; margin-top: 10px; margin-bottom: 34px; margin-top: 28px; height: 43px;" class="ml-3"
        (click)="cancel()">отменить</button>
    </form>
    <mat-progress-bar *ngIf="wait" mode="indeterminate"></mat-progress-bar>
  </div>
</div>